/* Color Theme Swatches in Hex */
.color-theme_mitski-1-hex { color: #F2CEDF; }
.color-theme_mitski-2-hex { color: #6ACED9; }
.color-theme_mitski-3-hex { color: #30403E; }
.color-theme_mitski-4-hex { color: #F2CE16; }
.color-theme_mitski-5-hex { color: #D97762; }
*{
    padding: 0;
    margin: 0;
    }
html{
    overflow-x: hidden;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    font-family: 'Lora', serif;
    overflow-x: hidden;
    
    }
.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
        
.ul-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4vh;
    padding-top: 4px;
    background-color:#F2CEDF;
    list-style-type: none;
    color:#30403E;
    justify-content: center;
    text-align: center;
        
    }
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
a{
text-decoration: none;
color:#404A54;
padding: 15px;
}

nav .logo{
    margin-left: 50px;
    padding: 15px;

  
}

nav .nav-items{
    display: flex;
    margin-right: 200px;
    margin-top: 10px;
  }
nav .nav-items li{
  list-style: none;
  
}
nav .nav-items li a{
  color:#f0d139;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 80px;
  
}

button{
border: none;
background: transparent;
color:#f0d139;
}

.profile{
  position: absolute;
  right: 5em;
  color:#f0d139;
  text-decoration: none;
  margin-left: -10px;
}


nav .menu-icon,
nav .cancel-icon{
  position: absolute;
  right: -1em;
  margin-top: 4vh;
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color:#f0d139;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon{
  display: none;
}

/*Media*/
@media (max-width: 1050px){
    nav{
        padding: 0px;
      }
  
      nav .logo{
        margin-top: 4vh;
        
  
      }
  
      nav .nav-items{
        position: absolute; 
        top: 25vh;
        width: 100%;
        left: -100%;
        background:#F2CEDF;
        display: inline-block;
        transition: top 0.3s ease;
      }
    
  
    nav .nav-items.active{
        left: 0px;
        width: 100%; 
      }
      .caption.active{
        position: absolute;
        top: 200px;
      }
  nav .nav-items li{
    line-height: 55px;
    width: 100%;
   
  }
  nav .nav-items li a{
    font-size: 20px;
    width: 100%;
    color: #30403E;

  }
  
  
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
  .profile{
    margin-top: -10px;
    margin-right: 5px;
  }
  
  
  }
  
  @media (max-width: 760px){
    p {
      font-size: 15px;
    }
    h1{
      font-size: 25px;
    }
    .caption{
      margin-left: 200px;
    }
  }
  
  @media (max-width: 600px){
    p {
      font-size: 15px;
    }
    h1{
      font-size: 20px;
    }
    .caption{
      margin-left: 100px;
    }
    .member{
      margin-left: -100px;
      width: 100%;
  
    }
  }
  
  @media(max-width: 530px){
    h1{
      font-size: 15px;
    }
    p{
      font-size: 10px;
    }
  }
  
  @media (max-width: 350px){
    p{
      font-size: 10px;
    }
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin-right: 20px;
    margin-top: 3px;
  }
  
  .profile{
    margin-right: -40px;
    margin-top: -7px;
  }
  .caption{
    margin-left: 50px;
  }
  
  .contact-1{
    width: 53%;
  }
  .contact-2{
    margin-left: 50px;
    width: 95%;
  }
  .contact-3{
    margin-left: 80px;
  }
  }
        
 /*Display*/
 .display{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(200, 154, 218, 0.3),rgba(242, 206, 223, 0.2)),url('http://images6.fanpop.com/image/photos/43000000/Kiki-s-Delivery-Service-studio-ghibli-43047887-540-320.gif');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    }
        
    .ul-bottom a{
    color:#F2CE16;
    transition: background-color .5s;
        }
        
    .caption{
    display: flex;
    width: 100%;
    color:#F2CE16;
    justify-content:left;
    vertical-align: middle;
    margin: 2in;
        }
    .caption button{
     width: 40px;
     height: 40px;
     border-radius: 50%;
    background-color: transparent;
     border:#F2CE16 3px solid;
     color: #F2CE16;
    }
        
    .caption button:hover{
      background-color:#333040;
      border:#F2CE16 3px solid;
      color:#F2CE16;
      }
        .caption a{
            color: #F2CE16;
        }
    
    
    .Title{
        background-color:#F2CEDF;
        height: fit-content;
        width: 100%;
        font-size: 30px;
        padding: 10px;
        color: #30403E;
    }
    
    .locatemap{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    #address{
        background-color: white;
        width: 50%;
    }
    

    .Address-item{
        margin: 1em 2em;
        width: 100%;
        height:fit-content;
    }

    .location-address, .phone-location,   .Open-Close-Adress,   .Option-Adress{
    color:#30403E;
    }
 
    .map{
       width: 50%;
       height: 100%;
    }


    .container-bottom{
        padding: 0.2in;
        background-color:#30403E;
        color:#f0d139;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: start;
        }

    .container-bottom img{
            width: 40%;
        }

/*timer*/
.bgimg {
background-color: #fdfafc;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #fdfafc 20%, #fdfafc 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #fdfafc 20%, #fdfafc 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2CEDF 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2CEDF 0.8px, #fdfafc 0.8px) -0.4px 0;
background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
height: 30vh;
width: 100%;
color: #30403E;
text-align: center;
justify-content: center;
display: flex;
flex-direction: column;
}

.middle {
  margin-top: 20px;
}
